@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "ThaID Integration Example";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ThaID Integration Sample for ASP.NET C#</h1>
    <br></br>
    <img alt="ThaID Logo" src="img/ThaID.png" />
    <br></br>
    <a class="btn btn-outline-dark" href="/authentication/login" role="button">เข้าสู่ระบบด้วย ThaID</a>
</div>

